
<div class="text-layout">
  <h1>Pipes personalizados</h1>
  <p>Pipes creados por {{ 'nosotros' | mayusculas : enMayusculas }}</p>
</div>

<p-toolbar>
  <div class="p-toolbar-group-left">
  </div>

  <div class="p-toolbar-group-right">
      <button pButton type="button" label="Toggle mayusculas"  class="mr-2" (click)="cambiar()"></button>

      <button pButton icon="pi pi-sort" label="Por nombre" class="mr-2 p-button-danger"
      (click)="cambiarOrden('nombre')"></button>

      <button pButton icon="pi pi-sort" label="Vuela" class="mr-2 p-button-success" (click)="cambiarOrden('vuela')"></button>

      <button pButton icon="pi pi-sort" label="Por color" class="mr-2 p-button-help"
      (click)="cambiarOrden('color')"></button>
  </div>
</p-toolbar>

<!-- Ordenar mediante pipes personalizados -->
<div class="p-grid mt-2">
  <div class="p-col">
    <p-table [value]="heroes | ordenar: ordenarPor">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{heroe.nombre}}</td>
              <td>{{heroe.vuela | vuela | titlecase}}</td>
              <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>


<!-- Tabla ordenar mediante PrimeNG -->
<div class="p-grid mt-2">
  <div class="p-col">
    <p-table [value]="heroes | slice:0">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="vuela">Vuela<p-sortIcon field="vuela"></p-sortIcon></th>
            <th pSortableColumn="color">Color<p-sortIcon field="color"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
            <td>{{heroe.nombre}}</td>
            <td>{{heroe.vuela | vuela | titlecase}}</td>
            <td>{{heroe.color}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</div>
