<h2>Template: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
                 placeholder="Nombre del producto"
                 [ngModel]="initForm.producto" name="producto" required
                 minlength="3">
          <span class="form-text text-danger" *ngIf="nombreValido()">Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo de precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
                 placeholder="Precio del producto"
                 [ngModel]="initForm.precio" name="precio" required min="0">
          <span class="form-text text-danger" *ngIf="precioValido()">El precio debe ser mayor a 0
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
                 placeholder="Existencias del producto"
                 [ngModel]="initForm.existencias" name="existencias"
                 customMin [minimo]="0" required>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="miFormulario.invalid">Guardar</button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touch</span>
    <pre>{{ miFormulario.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.controls['existencias']?.errors | json }}</pre>

  </div>
</div>
