<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el common Module</p>
</div>

<div class="grid">
  <div class="col md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">

      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect: invitacionMapa }}
        a nuestro evento.
      </p>

      <p-button type="button" class="p-button-raised p-button-help" label="Cambiar" (click)="cambiarCliente()"></p-button>

    </p-fieldset>
  </div>

  <div class="col md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">

      <p>
        Actualmente tenemos {{clientes.length | i18nPlural:clientesMapa}}
      </p>

      <p-button type="button" class="p-button-raised p-button-secondary" label="Borrar cliente" (click)="borrarCliente()"></p-button>

    </p-fieldset>
  </div>

</div>


<div class="grid">
  <div class="col md-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">

      <p>Original</p>
      <pre>{{ clientes }}</pre>

      <b>slice:0:3</b>
      <pre>{{ clientes | slice:0:3 }}</pre>

      <b>slice:1:2</b>
      <pre>{{ clientes | slice:1:2 }}</pre>

      <b>slice:0:5</b>
      <pre>{{ genero | slice:0:5}}</pre>

    </p-fieldset>
  </div>

  <div class="col md-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{ item.key | titlecase }}</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col md-6">
    <p-fieldset legend="JSON Pipe" [toggleable]="true">
      <pre>{{heroes | json}}</pre>
    </p-fieldset>
  </div>

  <div class="col md-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">

      <pre *ngIf="!(miObservable | async)">Resolviendo observable</pre>
      <pre>{{ miObservable | async}}</pre>

      <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
      <pre>{{ valorPromesa | async}}</pre>

    </p-fieldset>
  </div>
</div>
