
<h2>Template</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let menu of templateMenu"
      class="list-group-item"
      [routerLink]="[ menu.ruta ]"
      routerLinkActive="active">
      {{menu.texto}}
  </li>
</ul>

<h2 class="mt-3">Rective</h2>
<hr>

<ul class="list-group">
  <li *ngFor="let menu of reactiveMenu"
      class="list-group-item"
      [routerLink]="[ menu.ruta ]"
      routerLinkActive="active">
      {{menu.texto}}
  </li>
</ul>
