<p>error-page works!</p>

<ul>
  <li>
    <a [routerLink]="['/auth/login']">Ir a Login</a>
  </li>

  <li>
    <a [routerLink]="['/auth/registro']">Ir a Registro</a>
  </li>

  <li>
    <a [routerLink]="['/heroes/listado']">Ir a Listado</a>
  </li>
</ul>
