<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input  type="text"
                  class="form-control"
                  formControlName="nombre"
                  placeholder="Nombre del producto">
          <span class="form-text text-danger"
                *ngIf="campoEsValido('nombre')">Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo de precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input  type="number" class="form-control"
                  formControlName="precio"
                  placeholder="Precio del producto">
          <span class="form-text text-danger"
                *ngIf="campoEsValido('precio')">El precio debe ser mayor a 0
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input  type="number" class="form-control"
                  formControlName="existencias"
                  placeholder="Existencias del producto">
          <span class="form-text text-danger"
                *ngIf="campoEsValido('existencias')">El existencias deben de ser mayor a 0
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine }}</pre>

    <span>Touch</span>
    <pre>{{ miFormulario.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>

    <span>Precio</span>
    <pre>{{ miFormulario.controls['precio'].errors | json }}</pre>

  </div>
</div>
