<div class="text-layout">
  <h1>Pipes básicos</h1>
  <p>
    Pipes incluidos en Angular - Usualente en el Common Module.
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase"
            [subheader]="nombreLower | uppercase"
    >
      {{nombreLower}} -- {{nombreLower | uppercase}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="lowercase"
            [subheader]="nombreUpper | lowercase"
    >
      {{nombreUpper}} -- {{nombreUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase"
            [subheader]="nombreCompleto | titlecase"
    >
      {{nombreCompleto}} -- {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>


<div class="text-layout">
  <h1>Date | Fecha | Pipe </h1>
  <p>
    Pipe para mostrar las fechas
  </p>
</div>


<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li> fecha </li>
        <li> fecha | date </li>
        <li> fecha | date:'sort'</li>
        <li> fecha | date:'long'</li>
        <li> fecha | date:'MMMM dd, yyyy'</li>
        <li> fecha | date:'y'</li>
        <li> fecha | date:'hh mm'</li>
      </ul>

      <hr>
      <ul>
        <li> fecha | date:'long':'GMT-6' </li>
        <li> fecha | date:'long':'':'es-MX </li>
        <li> fecha | date:'long':'':'en' </li>
        <li> fecha | date:'long':'':'fr' </li>
      </ul>
    </p-card>
  </div>

  <div class="col-6">
    <p-card>
      <ul>
        <li> {{fecha}} </li>
        <li> {{fecha | date}} </li>
        <li> {{fecha | date:'short'}} </li>
        <li> {{fecha | date:'long'}} </li>
        <li> {{fecha | date:'MMMM dd, yyyy'}} </li>
        <li> {{fecha | date:'y' }} </li>
        <li> {{fecha | date:'hh mm' }} </li>
      </ul>

      <hr>
      <ul>
        <li> {{fecha | date:'long':'GMT-6'}}</li>
        <li> {{fecha | date:'long':'':'es-MX' }} <strong>Español por defecto</strong></li>
        <li> {{fecha | date:'long':'':'en'}} <strong>Inglés</strong></li>
        <li> {{fecha | date:'long':'':'fr'}} <strong>Frances</strong></li>
      </ul>
    </p-card>
  </div>
</div>
