
<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <app-sidemenu></app-sidemenu>
    </div>

    <!-- Espacio para el cambio de las rutas -->
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


