<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Usualmente en el common Module</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas netas"
            subheader="del presente año">
            <i class="pi pi-dollar"></i>
            {{ventasNetas}} - {{ ventasNetas | number:'1.2-2'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas brutas"
            subheader="del presente año">
            {{ventasNetas}} - {{ (ventasNetas + 2000000 ) | currency:'USD':'symbol-narrow': '1.4-4'}}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancia porcentual"
            subheader="del presente año">
            {{ porcentaje }} - {{ porcentaje | percent: '2.2-2'}}
    </p-card>
  </div>
</div>
