<p>pagina1 works!</p>

<input type="text" placeholder="Digite el txt"
        [(ngModel)]="nombre">

<button (click)="guardar()">
Click
</button>

<br>

<app-muestra-nombre nombre="Juan"></app-muestra-nombre>
