<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1> {{ nombre | titlecase}} </h1>
  <h1> {{ valor | number}} </h1>
  <h1> {{ obj | json}} </h1>
</div>

<button pButton
        label="enviar"
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"
></button>

<p-card [header] = "title | titlecase"
        subheader = "Este es el subheader">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem impedit facere facilis optio rerum iure similique harum aperiam itaque eius.</p>
</p-card>
 -->

