<h1>Ciclo de vida de Angular</h1>
<hr />

<button (click)="mostrar = !mostrar">
  {{ mostrar ? 'mostrar' : 'ocultar'}}
</button>

<app-pagina1 *ngIf="mostrar"></app-pagina1>


<br><br>
<h1>Segundos: {{ segundos }}</h1>
